#album
  #description
    %h2=@album.name
    %h3=raw @album.blurb
  
  %ul#photos
    -@album.sorted_photos.each do |photo|
      %li{:class => cycle('photo', 'photo', 'photo', 'photo', 'last_photo'), :id => "photo_#{photo.id}"}
        %a{:href => photo.path, :title => "#{photo.title} photograph"}
          %img.thumbnail{:src => photo.url_thumb, :alt => photo.title, :title => photo.title}
          %span.title=photo.title