#photo
  #description
    %h2.editable=@photo.title
    %h4.editable=@photo.blurb
   
  =render :partial => 'user_controls'
  
  #frame
    %img{:src => @photo.image.url(:full), :alt => @photo.title, :title => @photo.title}

-if user_signed_in?    
  -content_for :admin do          
    :javascript
      inplaceEdit('#{album_path(@album)}');    