!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}
  %head      
    %meta{:name => 'keywords', :content => 'photography, underwater, underwater photography, diving, scuba, sydney, australia, wreck, reef, wildlife, photographer, sydney sub aqua club, bsac, rebreather, revo, ccr'}/
    %meta{:name => 'description', :content => 'Underwater photography and pictures of wrecks, reefs, scuba diving and marine wildlife from Australia and around the world.'}/
    %meta{:name => 'google-site-verification', :content => 'hxdfbizquZWR_QzVWVg_VphDw9tsdh0D3DmQ-CgTMAM'}/
    =csrf_meta_tag

    %title
      =@page_title ? @page_title : "Rick Grundy's Photography"
    
    =stylesheet_link_tag 'screen'
    -if current_user
      =javascript_include_tag "#{request.protocol}ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"
      =javascript_include_tag "#{request.protocol}ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"
      =javascript_include_tag "jquery.jeditable.min.js"
      =javascript_include_tag "rails.js", "application.js"

  %body
    #page
      #header
        %h1=link_to 'Rick Grundy', root_path
        %h2=link_to 'Underwater photography from Australia and around the world', root_path
      #content=yield
      
      .clear
      -if current_user
        #admin=yield :admin
            
      #footer
        #email
          Need to get in touch? 
          =mail_to 'rick@rickgrundy.com', 'rick@rickgrundy.com'
        #copyright Copyright &copy; Rick Grundy, 2008-
        =Date.today.year
        .clear
  
    =render :partial => 'shared/analytics'